<launch>
    <arg name="model_name" default="kingfisher"/>
    <arg name="config_pkg" default="$(eval find(arg('model_name') + '_description'))"/>

    <node pkg="tauv_vehicle" type="sonar" name="sonar" output="screen">
        <rosparam command="load" file="$(arg config_pkg)/yaml/sonar.yaml" />
        <remap from="pulse" to="/sonar/pulse" />
    </node>
</launch>