<?xml version="1.0"?>
<launch>
  <!-- =======================  -->
  <!--        Arguments         -->
  <!-- =======================  -->

  <!-- Name of the robot model  -->
  <arg name="model_name" default="albatross"/>
  <arg name="namespace" default="ab"/>

  <arg name="teleop" default="true"/>

  <!-- =======================  -->
  <!--       Load Configs       -->
  <!-- =======================  -->

  <!-- figure out path to vehicle configurations based on model name  -->
  <arg name="config_pkg" default="$(eval find(arg('model_name') + '_description'))"/>

  <!-- =======================  -->
  <!--  Launch Vehicle / Cams   -->
  <!-- =======================  -->
<!--  <include file="$(find tauv_common)/launch/transform_manager/retare_sub_position.launch"/>-->
<!--  <include file="$(find tauv_common)/launch/darknet_ros/darknet_ros.launch"/>-->
  <group ns="$(arg namespace)">
    <param name="tf_namespace" value="$(arg namespace)" />

    <include file="$(find tauv_common)/launch/alarms/alarms.launch" />

    <include file="$(find tauv_vehicle)/launch/vehicles/$(arg model_name)_vehicle.launch"/>
    <include file="$(arg config_pkg)/launch/transforms.launch">
      <arg name="namespace" value="$(arg namespace)" />
    </include>

    <!-- =======================  -->
    <!-- Launch abstract systems  -->
    <!-- =======================  -->

    <!-- Launch the alarm server:  -->
    <node pkg="tauv_common" type="controller" name="controller" output="screen">
      <rosparam command="load" file="$(arg config_pkg)/yaml/controller.yaml" />
    </node>

    <node pkg="tauv_common" type="albatross_state_estimation" name="albatross_state_estimation" output="screen">
    </node>

    <node pkg="tauv_common" type="thruster_manager" name="thruster_manager" output="screen">
      <rosparam command="load" file="$(arg config_pkg)/yaml/thruster_manager.yaml" />
    </node>

    <group if="$(arg teleop)">
      <node
              pkg="tauv_common"
              type="teleop_planner"
              name="teleop_planner"
              output="screen"
      >
        <rosparam command="load" file="$(arg config_pkg)/yaml/teleop_planner.yaml" />
      </node>
    </group>

    <node pkg="tauv_common" type="message_printer" name="message_printer" output="log"/>
  </group>
</launch>
