<launch>
    <arg name="model_name" default="kingfisher"/>
    <arg name="config_pkg" default="$(eval find(arg('model_name') + '_description'))"/>

    <node pkg="tauv_vehicle" type="thrusters" name="thrusters" output="screen">
        <rosparam command="load" file="$(arg config_pkg)/yaml/thrusters.yaml" />
        <remap from="battery" to="/battery" />
        <remap from="wrench" to="/thrusters/wrench" />
        <remap from="arm" to="/thrusters/arm" />
        <remap from="active" to="/thrusters/active" />
        <remap from="killed" to="/thrusters/killed" />
        <remap from="servos" to="/servos/targets" />
    </node>
</launch>
