<launch>
    <arg name="model_name" default="kingfisher"/>
    <arg name="config_pkg" default="$(eval find(arg('model_name') + '_description'))"/>

    <node pkg="tauv_common" type="teleop_planner" name="teleop_planner" output="screen">
        <rosparam command="load" file="$(arg config_pkg)/teleop_planner.yaml" />
        <remap from="joy" to="/joy" />
        <remap from="cmd" to="/controller/cmd" />
        <remap from="mpc_cmd" to="/mpc/cmd" />
        <remap from="arm" to="/thrusters/arm" />
        <remap from="pose" to="/gnc/pose" />
        <remap from="set_target_pose" to="/controller/set_target_pose" />
        <remap from="set_hold_z" to="/controller/set_hold_z" />
        <remap from="set_hold_xy" to="/controller/set_hold_xy" />
        <remap from="set_hold_yaw" to="/controller/set_hold_yaw" />
    </node>
</launch>
