<launch>
    <!-- Load USB joystick controller configs -->
    <rosparam file="$(find tauv_common)/src/planners/teleop_planner/joy.yaml" command="load"/>

    <!-- Start Teleop node -->
    <node pkg="tauv_common" type="teleop_planner" name="teleop_planner" output="screen">
        <remap from="cmd_acc" to="planners/teleop/cmd_acc"/>
        <remap from="cmd_vel" to="planners/teleop/cmd_vel"/>
        <remap from="cmd_pos" to="planners/teleop/cmd_pos"/>
    </node>

    <!-- Launch keyboard planner -->
    <!--<node pkg="tauv_common" type="keyboard_planner" name="keyboard_planner" output="screen">-->
        <!--<param name="output_frame" value="base_link"/>-->
        <!--<remap from="cmd_acc" to="planners/keyboard/cmd_acc"/>-->
    <!--</node>-->
</launch>