[submodule "packages/tauv_vehicle/flatbuffers"]
	path = packages/tauv_vehicle/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "packages/tauv_gnc/gtsam"]
	path = packages/tauv_gnc/gtsam
	url = https://github.com/borglab/gtsam.git
[submodule "containers/arena-sdk"]
	path = containers/arena-sdk
	url = git@github.com:Tartan-AUV/arena-sdk.git
[submodule "packages/stonefish_ros2"]
	path = packages/stonefish_ros2
	url = https://github.com/patrykcieslak/stonefish_ros2.git
[submodule "third-party/stonefish"]
	path = third-party/stonefish
	url = https://github.com/patrykcieslak/stonefish.git
[submodule "third-party/manif"]
	path = third-party/manif
	url = https://github.com/artivis/manif.git
[submodule "packages/ros2_rust"]
	path = packages/ros2_rust
	url = https://github.com/ros2-rust/ros2_rust.git
[submodule "ros_ws/src/ros2_rust"]
	path = ros_ws/src/ros2_rust
	url = https://github.com/ros2-rust/ros2_rust.git
