[submodule "containers/arena-sdk"]
	path = containers/arena-sdk
	url = git@github.com:Tartan-AUV/arena-sdk.git
[submodule "ros_ws/src/stonefish_ros2"]
	path = ros_ws/src/stonefish_ros2
	url = https://github.com/patrykcieslak/stonefish_ros2.git
[submodule "third-party/stonefish"]
	path = third-party/stonefish
	url = https://github.com/patrykcieslak/stonefish.git
[submodule "ros_ws/src/Xsens_MTi_ROS_Driver_and_Ntrip_Client"]
	path = ros_ws/src/Xsens_MTi_ROS_Driver_and_Ntrip_Client
	url = https://github.com/xsenssupport/Xsens_MTi_ROS_Driver_and_Ntrip_Client.git
	branch = ros2
