[submodule "firmware/flatcc"]
	path = firmware/flatcc
	url = https://github.com/dvidelabs/flatcc.git
[submodule "firmware/rtvc/Middlewares/Third_Party/flatbuffers"]
	path = firmware/rtvc/Middlewares/Third_Party/flatbuffers
	url = https://github.com/google/flatbuffers.git
