*cmake-build-debug*
*.pyc
*.o
*.swp
*.dpp
*.d
*.a
*.DS_Store

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### IntelliJ ###
.idea/

# Compile commands
compile_commands.json


tools/CanTesting/pydronecan
tools/CanTesting/venv
