*cmake-build-debug*
*.pyc
*.o
*.swp
*.dpp
*.d
*.a
*.DS_Store

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

### IntelliJ ###
.idea/

### Colcon Cache ###
.ros_build/
.ros_install/
.ros_log/

### Docker Buildx Cache ###
containers/.buildx-cache/

tools/CanTesting/pydronecan
tools/CanTesting/venv
