<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--front right-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="0">
        <origin xyz="0.197 -0.081 0.01" rpy="1.5707963267949 0 0.785398163397449"/>
    </xacro:t200_thruster>

    <!--front left-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="1">
        <origin xyz="0.197 0.081 0.01" rpy="1.5707963267949 0 -0.785398163397459"/>
    </xacro:t200_thruster>

    <!--back right-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="2">
        <origin xyz="-0.197 -0.081 0.01" rpy="-1.5707963267949 0 2.35619449019234"/>
    </xacro:t200_thruster>

    <!--back left-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="3">
        <origin xyz="-0.197 0.081 0.01" rpy="-1.57079632679489 0 -2.35619449019233"/>
    </xacro:t200_thruster>

    <!--front right vertical-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="4">
        <origin xyz="0.061 -0.228 0" rpy="1.5707963267949 -1.5707963267949 0"/>
    </xacro:t200_thruster>

    <!--front left vertical-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="5">
        <origin xyz="0.061 0.228 0" rpy="1.5707963267949 -1.5707963267949 0"/>
    </xacro:t200_thruster>

    <!--back right vertical-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="6">
        <origin xyz="-0.061 -0.228 0" rpy="1.5707963267949 -1.5707963267949 0"/>
    </xacro:t200_thruster>

    <!--back left vertical-->
    <xacro:t200_thruster namespace="${ns}" thruster_id="7">
        <origin xyz="-0.061 0.228 0" rpy="1.5707963267949 -1.5707963267949 0"/>
    </xacro:t200_thruster>
</robot>
