<launch>
    <!-- This launchfile launches the full Guidance, Navigation, and Control system. -->
    <!-- This includes the cascaded pid controller, teleop node, and (TODO) the trajectory planner. -->

    <!-- Name of the robot model  -->
    <arg name="model_name" default="albatross"/>
    <!-- path to config package  -->
    <arg name="config_pkg" default="$(eval find(arg('model_name') + '_description'))"/>
    <!-- force topic (for the thruster manager) to publish to -->
    <arg name="thruster_manager_topic" default="/$(arg model_name)/thruster_manager/input"/>
    <!-- odom topic to listen on -->
    <arg name="odom_topic" default="odom"/>

    <group>
        <!-- Launch State Estimation -->
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="screen">
            <rosparam command="load" file="$(arg config_pkg)/ekf_params.yaml"/>
            <remap from="sensors/imu/data" to="/$(arg model_name)/sensors/imu/data"/>
            <remap from="sensors/depth" to="/$(arg model_name)/sensors/depth"/>
        </node>

        <node pkg="tauv_common" type="state_estimation" name="state_estimation" clear_params="true" output="screen">
            <remap from="sensors/imu/data" to="/$(arg model_name)/sensors/imu/data"/>
            <remap from="sensors/depth" to="/$(arg model_name)/sensors/depth"/>
        </node>


        <!-- Load controller params: -->
        <rosparam file="$(arg config_pkg)/control_params/inertial.yaml" command="load"/>
        <rosparam file="$(arg config_pkg)/control_params/vel_pid_control.yaml" command="load"/>
        <rosparam file="$(arg config_pkg)/control_params/pos_pid_control.yaml" command="load"/>
        <rosparam file="$(arg config_pkg)/control_params/default_config.yaml" command="load"/>
        <rosparam file="$(find tauv_common)/src/planners/planners.yaml" command="load"/>

        <!-- Launch controllers -->
        <node pkg="tauv_common" type="acceleration_controller" name="acceleration_controller"
              output="screen">
            <remap from="thruster_manager/input" to="$(arg thruster_manager_topic)"/>
        </node>
        <node pkg="tauv_common" type="velocity_controller" name="velocity_control"
              output="screen">
            <remap from="cmd_accel" to="controller/cmd_acc"/>
            <remap from="odom" to="$(arg odom_topic)"/>
        </node>
        <node pkg="tauv_common" type="position_controller" name="position_control"
              output="screen">
            <remap from="cmd_vel" to="controller/cmd_vel"/>
            <remap from="odom" to="$(arg odom_topic)"/>
        </node>

        <!-- Launch controller wrapper -->
        <node pkg="tauv_common" type="pid_control_wrapper" name="pid_control_wrapper" output="screen">
            <remap from="joy_cmd_acc" to="teleop/cmd_acc"/>
            <remap from="joy_cmd_vel" to="teleop/cmd_vel"/>
            <remap from="joy_cmd_pos" to="teleop/cmd_pos"/>
            <remap from="controller_cmd_acc" to="controller/cmd_acc"/>
            <remap from="controller_cmd_vel" to="controller/cmd_vel"/>
        </node>

        <!-- Launch the planners -->
        <include file="$(find tauv_common)/launch/gnc/planners/planners.launch"/>
    </group>



</launch>
