<!-- System launch file for running on real Albatross hardware -->

<launch>
  <include file="$(find tauv_mission)/launch/system.launch">
    <arg name="model_name" value="albatross"/>
    <arg name="simulated" value="true"/>

    <arg name="x" default="5.0"/>
    <arg name="y" default="-27.5"/>
    <arg name="z" default="-0.5"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>
  </include>
</launch>
