source [find interface/stlink.cfg]

transport select hla_swd

source [find target/stm32f7x.cfg]

# Avoid using SRST pin (pure software reset)
reset_config none

# Optional: Force software reset via SYSRESETREQ (AIRCR)
# cortex_m reset_config sysresetreq
