<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find tauv_sim_worlds)/worlds/umd.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

<!--    <node name="publish_world_models"-->
<!--          pkg="uuv_assistants"-->
<!--          type="publish_world_models.py"-->
<!--          output="screen">-->
<!--        <rosparam subst_value="true">-->
<!--            meshes:-->
<!--                umd:-->
<!--                    mesh: package://tauv_sim_worlds/models/umd/meshes/umd.dae-->
<!--                    model: umd-->
<!--        </rosparam>-->
<!--    </node>-->
</launch>