<?xml version="1.0"?>
<launch>
    <!-- Start the Retare node -->
    <node pkg="tauv_common" type="retare_sub_position" name="retare_sub_position"/>

    <!-- Retare the sub position initially to be 0 offset -->
    <node pkg="rosservice" type="rosservice" name="retare" output="log"
        args='call --wait /retare_sub_position geometry_msgs/Pose
              "{position: {x:0.0,y:0.0,z:0.0}, orientation: {x:0.0,y:0.0,z:0.0,w:1.0}}"'/>

</launch>