<launch>
    <arg name="namespace" default="kf"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_0_static_publisher"
          args="0.43852 0.22093 0 -0.785 0 1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_0" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_1_static_publisher"
          args="0.43852 -0.22093 0 0.785 0 1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_1" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_2_static_publisher"
          args="-0.43852 0.22093 0 -2.356 0 -1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_2" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_3_static_publisher"
          args="-0.43852 -0.22093 0 2.356 0 -1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_3" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_4_static_publisher"
          args="0.23876 0.213083 0.01115 0 -1.571 1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_4" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_5_static_publisher"
          args="0.23876 -0.21308 0.01115 0 -1.571 1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_5" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_6_static_publisher"
          args="-0.23876 0.213083 0.01115 0 -1.571 1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_6" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="thruster_7_static_publisher"
          args="-0.23876 -0.21308 0.01115 0 -1.571 1.571 $(arg namespace)/vehicle $(arg namespace)/thruster_7" />

    <!--    20in forward, 0in right, 2in up -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="oakd_front_static_publisher"
          args="0.508 0 -0.0508 1.57 0 1.57 $(arg namespace)/vehicle $(arg namespace)/oakd_front" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="oakd_front_base_static_publisher"
          args="0.508 0 -0.0508 0 0 0 $(arg namespace)/vehicle $(arg namespace)/oakd_front_base" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="oakd_bottom_static_publisher"
          args="0.499 0 -0.15 1.57 0 0.279 $(arg namespace)/vehicle $(arg namespace)/oakd_bottom" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="sphincter_static_publisher"
          args="0 0 0.25 -1.57 0 0 $(arg namespace)/oakd_bottom $(arg namespace)/sphincter" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="torpedo_0_static_publisher"
          args="0 -0.10 -0.083 0 0 0 $(arg namespace)/oakd_front_base $(arg namespace)/torpedo_0" />

    <node pkg="tf2_ros" type="static_transform_publisher" name="torpedo_1_static_publisher"
          args="0 -0.0935 -0.0965 0 0 0 $(arg namespace)/oakd_front_base $(arg namespace)/torpedo_1" />

    <!-- vehicle -> sonar transform (needs to actually be measured)-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="sonar_static_publisher"
        args="0 0 0 0 0 0 1 $(arg namespace)/vehicle $(arg namespace)/sonar" />
</launch>
