<launch>
    <arg name="model_name" default="kingfisher"/>
    <arg name="config_pkg" default="$(eval find(arg('model_name') + '_description'))"/>

    <node ns="kf" pkg="tauv_vehicle" type="pinger_localizer" name="pinger_localizer" output="screen">
        <rosparam command="load" file="$(arg config_pkg)/yaml/pinger_localizer.yaml" />
    </node>
</launch>
