<?xml version="1.0"?>

<model>
    <name>buoy_badge</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Ayush Shekhar</name>
        <email>ay.shekhar01@gmail.com</email>
    </author>

    <description>
      Robosub 2022 Badge Buoy
    </description>
</model>
