<?xml version="1.0"?>
<robot name="osprey">
  <!-- Base link (IMU frame) -->
  <link name="base_link"/>

  <!-- Left side thrusters -->
  <joint name="base_to_hlf" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/hlf"/>
    <origin xyz="0.272 -0.168 -0.054" rpy="-1.5708 0.0 2.3562"/>
  </joint>
  <link name="thruster/hlf"/>

  <joint name="base_to_vlf" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/vlf"/>
    <origin xyz="0.132 -0.197 0.062" rpy="0.0 3.141592654 0.0"/>
  </joint>
  <link name="thruster/vlf"/>

  <joint name="base_to_vlb" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/vlb"/>
    <origin xyz="-0.057 -0.197 0.062" rpy="0.0 3.141592654 0.0"/>
  </joint>
  <link name="thruster/vlb"/>

  <joint name="base_to_hlb" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/hlb"/>
    <origin xyz="-0.178 -0.188 -0.054" rpy="-1.570796327 0.0 0.7853981634"/>
  </joint>
  <link name="thruster/hlb"/>

  <!-- Right side thrusters -->
  <joint name="base_to_hrb" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/hrb"/>
    <origin xyz="-0.200 0.264 -0.054" rpy="-1.570796327 0.0 2.35619449"/>
  </joint>
  <link name="thruster/hrb"/>

  <joint name="base_to_vrb" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/vrb"/>
    <origin xyz="-0.057 0.295 0.062" rpy="0.0 3.141592654 0.0"/>
  </joint>
  <link name="thruster/vrb"/>

  <joint name="base_to_vrf" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/vrf"/>
    <origin xyz="0.132 0.295 0.062" rpy="0.0 3.141592654 0.0"/>
  </joint>
  <link name="thruster/vrf"/>

  <joint name="base_to_hrf" type="fixed">
    <parent link="base_link"/>
    <child link="thruster/hrf"/>
    <origin xyz="0.272 0.267 -0.054" rpy="-1.570796327 0.0 0.7853981634"/>
  </joint>
  <link name="thruster/hrf"/>

  <!-- Sensors -->
  <joint name="base_to_depth" type="fixed">
    <parent link="base_link"/>
    <child link="depth"/>
    <origin xyz="0.240 0.113 -0.055" rpy="0.0 0.0 0.0"/>
  </joint>
  <link name="depth"/>

  <joint name="base_to_dvl" type="fixed">
    <parent link="base_link"/>
    <child link="dvl"/>
    <origin xyz="-0.103 0.049 0.045" rpy="0.0 0.0 1.5708"/>
  </joint>
  <link name="dvl"/>

  <joint name="base_to_imu" type="fixed">
    <parent link="base_link"/>
    <child link="imu"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="imu"/>

</robot>
