<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://tartanauv.onshape.com/documents/1d3a264128e12a62f4cb4bc2/w/89ba3c0f0e07a75a030ec478/e/21dfbfffd330340c25762d01 -->
<robot name="osprey">
  <!-- Link os/body -->
  <link name="os/body">
    <inertial>
      <origin xyz="0.0634081 0.0571963 0.0103396" rpy="0 0 0"/>
      <mass value="20.4159"/>
      <inertia ixx="0.566407" ixy="0.00868179" ixz="-0.094331" iyy="0.556752" iyz="-0.00916975" izz="0.824859"/>
    </inertial>
    <!-- Part frame -->
    <visual>
      <origin xyz="0.121394 0.12539 0.0589185" rpy="-1.5708 -1.93383e-14 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/frame.stl"/>
      </geometry>
      <material name="frame_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.121394 0.12539 0.0589185" rpy="-1.5708 -1.93383e-14 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/frame.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster -->
    <visual>
      <origin xyz="0.131768 -0.19685 0.0379078" rpy="1.70074e-16 -0 -9.8687e-17"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.131768 -0.19685 0.0379078" rpy="1.70074e-16 -0 -9.8687e-17"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_2 -->
    <visual>
      <origin xyz="-0.194387 -0.170909 -0.0540697" rpy="0.785398 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_2_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.194387 -0.170909 -0.0540697" rpy="0.785398 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_3 -->
    <visual>
      <origin xyz="0.277024 -0.163447 -0.0540697" rpy="-0.785398 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_3_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.277024 -0.163447 -0.0540697" rpy="-0.785398 1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_4 -->
    <visual>
      <origin xyz="0.131768 0.29485 0.0379078" rpy="1.70074e-16 -7.4271e-49 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_4_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.131768 0.29485 0.0379078" rpy="1.70074e-16 -7.4271e-49 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part os/body -->
    <visual>
      <origin xyz="0 0 0" rpy="3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/os/body.stl"/>
      </geometry>
      <material name="os/body_material">
        <color rgba="0.498039 0.498039 0.498039 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="3.14159 -0 -1.5708"/>
      <geometry>
        <mesh filename="package://assets/os/body.stl"/>
      </geometry>
    </collision>
    <!-- Part os_launcher -->
    <visual>
      <origin xyz="0.381647 0.232596 -0.16529" rpy="0 1.93383e-14 1.5708"/>
      <geometry>
        <mesh filename="package://assets/os_launcher.stl"/>
      </geometry>
      <material name="os_launcher_material">
        <color rgba="0.823529 0.0156863 0.176471 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.381647 0.232596 -0.16529" rpy="0 1.93383e-14 1.5708"/>
      <geometry>
        <mesh filename="package://assets/os_launcher.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_5 -->
    <visual>
      <origin xyz="-0.056594 -0.19685 0.0379078" rpy="1.70074e-16 -0 -9.8687e-17"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_5_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.056594 -0.19685 0.0379078" rpy="1.70074e-16 -0 -9.8687e-17"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_6 -->
    <visual>
      <origin xyz="0.277024 0.261447 -0.0540697" rpy="2.35619 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_6_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.277024 0.261447 -0.0540697" rpy="2.35619 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part os_arm_base -->
    <visual>
      <origin xyz="0.317929 -0.192861 0.458247" rpy="3.14159 -0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/os_arm_base.stl"/>
      </geometry>
      <material name="os_arm_base_material">
        <color rgba="0.882353 0.756863 0.431373 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.317929 -0.192861 0.458247" rpy="3.14159 -0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/os_arm_base.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_7 -->
    <visual>
      <origin xyz="-0.194387 0.268909 -0.0540697" rpy="-2.35619 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_7_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.194387 0.268909 -0.0540697" rpy="-2.35619 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
    <!-- Part os_dropper -->
    <visual>
      <origin xyz="-0.115387 0.189932 0.040056" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/os_dropper.stl"/>
      </geometry>
      <material name="os_dropper_material">
        <color rgba="0.439216 0.47451 0.501961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.115387 0.189932 0.040056" rpy="3.14159 -0 1.5708"/>
      <geometry>
        <mesh filename="package://assets/os_dropper.stl"/>
      </geometry>
    </collision>
    <!-- Part thruster_8 -->
    <visual>
      <origin xyz="-0.056594 0.29485 0.0379078" rpy="1.70074e-16 -7.4271e-49 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
      <material name="thruster_8_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.056594 0.29485 0.0379078" rpy="1.70074e-16 -7.4271e-49 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/thruster.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame os/launcher/right/front (dummy link + fixed joint) -->
  <link name="os/launcher/right/front">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/launcher/right/front_frame" type="fixed">
    <origin xyz="0.340329 0.17974 0.0589185" rpy="-1.5708 -1.93383e-14 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/launcher/right/front"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/launcher/left/front (dummy link + fixed joint) -->
  <link name="os/launcher/left/front">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/launcher/left/front_frame" type="fixed">
    <origin xyz="0.340329 0.12539 0.0589185" rpy="-1.5708 -1.93383e-14 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/launcher/left/front"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/camera/right (dummy link + fixed joint) -->
  <link name="os/camera/right">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/camera/right_frame" type="fixed">
    <origin xyz="0.300784 0.20775 0.192154" rpy="1.5708 -2.29489e-31 1.5708"/>
    <parent link="os/body"/>
    <child link="os/camera/right"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/camera/left (dummy link + fixed joint) -->
  <link name="os/camera/left">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/camera/left_frame" type="fixed">
    <origin xyz="0.300784 -0.10975 0.192154" rpy="1.5708 2.89093e-31 1.5708"/>
    <parent link="os/body"/>
    <child link="os/camera/left"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/flh (dummy link + fixed joint) -->
  <link name="os/thruster/flh">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/flh_frame" type="fixed">
    <origin xyz="0.284088 -0.156383 -0.0540697" rpy="-1.5708 1.88842e-17 0.785398"/>
    <parent link="os/body"/>
    <child link="os/thruster/flh"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/frh (dummy link + fixed joint) -->
  <link name="os/thruster/frh">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/frh_frame" type="fixed">
    <origin xyz="0.284088 0.254383 -0.0540697" rpy="-1.5708 3.23543e-16 -0.785398"/>
    <parent link="os/body"/>
    <child link="os/thruster/frh"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/frv (dummy link + fixed joint) -->
  <link name="os/thruster/frv">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/frv_frame" type="fixed">
    <origin xyz="0.131768 0.29485 0.0478974" rpy="-3.14159 -1.5708 0"/>
    <parent link="os/body"/>
    <child link="os/thruster/frv"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/arv (dummy link + fixed joint) -->
  <link name="os/thruster/arv">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/arv_frame" type="fixed">
    <origin xyz="-0.056594 0.29485 0.0478974" rpy="-1.5708 -1.5708 0"/>
    <parent link="os/body"/>
    <child link="os/thruster/arv"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/arh (dummy link + fixed joint) -->
  <link name="os/thruster/arh">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/arh_frame" type="fixed">
    <origin xyz="-0.187324 0.275973 -0.0540697" rpy="-1.5708 3.75523e-15 0.785398"/>
    <parent link="os/body"/>
    <child link="os/thruster/arh"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/alh (dummy link + fixed joint) -->
  <link name="os/thruster/alh">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/alh_frame" type="fixed">
    <origin xyz="-0.187324 -0.177973 -0.0540697" rpy="-1.5708 -3.70241e-16 -0.785398"/>
    <parent link="os/body"/>
    <child link="os/thruster/alh"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/dropper/left (dummy link + fixed joint) -->
  <link name="os/dropper/left">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/dropper/left_frame" type="fixed">
    <origin xyz="-0.181328 0.173632 0.118106" rpy="-7.00728e-16 -8.04509e-16 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/dropper/left"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/dropper/right (dummy link + fixed joint) -->
  <link name="os/dropper/right">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/dropper/right_frame" type="fixed">
    <origin xyz="-0.181328 0.206232 0.118106" rpy="-7.00728e-16 -8.04509e-16 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/dropper/right"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/alv (dummy link + fixed joint) -->
  <link name="os/thruster/alv">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/alv_frame" type="fixed">
    <origin xyz="-0.056594 -0.19685 0.0478974" rpy="-9.8687e-17 -1.5708 0"/>
    <parent link="os/body"/>
    <child link="os/thruster/alv"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/thruster/flv (dummy link + fixed joint) -->
  <link name="os/thruster/flv">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/thruster/flv_frame" type="fixed">
    <origin xyz="0.131768 -0.19685 0.0478974" rpy="-9.8687e-17 -1.5708 0"/>
    <parent link="os/body"/>
    <child link="os/thruster/flv"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/launcher/right/back (dummy link + fixed joint) -->
  <link name="os/launcher/right/back">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/launcher/right/back_frame" type="fixed">
    <origin xyz="0.121316 0.17974 0.0589185" rpy="-1.5708 -1.93383e-14 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/launcher/right/back"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/dvl (dummy link + fixed joint) -->
  <link name="os/dvl">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/dvl_frame" type="fixed">
    <origin xyz="-0.103308 0.0490119 0.0448185" rpy="-1.79692e-16 2.07039e-14 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/dvl"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/depth (dummy link + fixed joint) -->
  <link name="os/depth">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/depth_frame" type="fixed">
    <origin xyz="0.240087 0.0871 -0.0554465" rpy="-1.5708 -2.33274e-31 -1.5708"/>
    <parent link="os/body"/>
    <child link="os/depth"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Link os_arm_link -->
  <link name="os_arm_link">
    <inertial>
      <origin xyz="-0.102633 0.0373583 -0.0017328" rpy="0 0 0"/>
      <mass value="0.682725"/>
      <inertia ixx="0.000890947" ixy="0.00174753" ixz="0.000248429" iyy="0.00505691" iyz="-9.04024e-05" izz="0.00583082"/>
    </inertial>
    <!-- Part os_arm_link -->
    <visual>
      <origin xyz="-0.0382553 0.338481 -0.157942" rpy="1.5708 -4.996e-16 -2.46519e-32"/>
      <geometry>
        <mesh filename="package://assets/os_arm_link.stl"/>
      </geometry>
      <material name="os_arm_link_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0382553 0.338481 -0.157942" rpy="1.5708 -4.996e-16 -2.46519e-32"/>
      <geometry>
        <mesh filename="package://assets/os_arm_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link os_arm_tube -->
  <link name="os_arm_tube">
    <inertial>
      <origin xyz="0.000348364 -0.0262834 -0.0580553" rpy="0 0 0"/>
      <mass value="0.780591"/>
      <inertia ixx="0.00432862" ixy="-1.43189e-05" ixz="1.82386e-07" iyy="0.00185548" iyz="-2.21968e-05" izz="0.00431034"/>
    </inertial>
    <!-- Part os_arm_tube -->
    <visual>
      <origin xyz="0.166033 -0.264126 0.179792" rpy="-1.5708 8.54658e-16 -4.93038e-32"/>
      <geometry>
        <mesh filename="package://assets/os_arm_tube.stl"/>
      </geometry>
      <material name="os_arm_tube_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.166033 -0.264126 0.179792" rpy="-1.5708 8.54658e-16 -4.93038e-32"/>
      <geometry>
        <mesh filename="package://assets/os_arm_tube.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Frame os/arm/intake (dummy link + fixed joint) -->
  <link name="os/arm/intake">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/arm/intake_frame" type="fixed">
    <origin xyz="1.66533e-16 -0.1397 -0.0587375" rpy="1.5708 -1.5708 0"/>
    <parent link="os_arm_tube"/>
    <child link="os/arm/intake"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Frame os/arm/thruster (dummy link + fixed joint) -->
  <link name="os/arm/thruster">
    <origin xyz="0 0 0" rpy="0 -0 0"/>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-9"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
  </link>
  <joint name="os/arm/thruster_frame" type="fixed">
    <origin xyz="0.001 0.031518 -0.0587375" rpy="1.5708 -1.5708 0"/>
    <parent link="os_arm_tube"/>
    <child link="os/arm/thruster"/>
    <axis xyz="0 0 0"/>
  </joint>
  <!-- Joint from os_arm_link to os_arm_tube -->
  <joint name="os/arm/link" type="revolute">
    <origin xyz="-0.204288 0.0743547 0.02185" rpy="-3.14159 -1.67456e-16 -1.62897e-16"/>
    <parent link="os_arm_link"/>
    <child link="os_arm_tube"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
    <mimic joint="os/arm/base" multiplier="-0.6666666666666666"/>
  </joint>
  <!-- Joint from os/body to os_arm_link -->
  <joint name="os/arm/base" type="revolute">
    <origin xyz="0.279674 -0.0348629 0.119766" rpy="1.5708 1.79519e-16 3.14159"/>
    <parent link="os/body"/>
    <child link="os_arm_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-2.79253" upper="8.88178e-16"/>
  </joint>
</robot>
